body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5d833;
    /* margin: 0;
    padding: 0; */
    padding:0px;
    margin: 0px;
}

.login-container {
    max-width: 300px;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    border: 1px solid #c081b7;
    border-radius: 10px;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #191919; 
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 95%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    transition: border-color 0.3s ease;
}



input[type="submit"] {
    width: 95%;
    padding: 12px;
    background-color: #a435f0; 
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #5a2d85;
}

.error-message {
    margin-top: 15px;
    text-align: center;
    color: #d63031; 
}


a {
    text-decoration: none;
    color: #a435f0; 
}

a:hover {
    text-decoration: underline;
    color: #5a2d85; 
}

/* ---------------signup---------------- */
.signup-container {
    width: 600px;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    border: 1px solid #c081b7;
    border-radius: 10px;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.1);
}
.error {
    color: red;
}



       
