body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

.section {
    flex: 1;
    padding: 10px;
    margin: 5px;
}
.table1 {
    width: 100%;
    border-collapse: collapse;
   
}

.table1 th, #table1 td {
    padding: 8px; /* Adjust padding as needed */
    text-align: left; /* Align text to the left */
    border: 1px solid #ddd; /* Add borders */
}

.table1 th {
    background-color: #f2f2f2; /* Light gray background for table header */
}

.section1 {
    display: flex;
    flex-direction: column; /* Ensure content flows vertically */
    flex: 1;
    border: 1px solid #ccc; /* Specify border style and color */
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    align-content: center;
}

.content {
    flex: 1; 
    overflow-y: auto;
    align-content: center;
}



.buttons {
    display: flex;
    justify-content: flex-end;
}

.buttons button {
    margin-left: 10px;
}

.info {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.item {
    margin: 10px;
    background-color: aquamarine;
    padding: 10px;
    border-radius: 5px;
}

.buttons-vertical {
    display: flex;
    flex-direction: column;
}

.buttons-vertical button {
    margin-bottom: 10px;
}


