/*Login Page*/
.div1{
    font-size:17px ;
    width: 350px;
    height: 270px;
    border: 8px solid plum;
    margin: 50px;

    padding: 25px;
    padding-left: 75px;
    border-radius: 20px;
}
.error{
   font: red;
   color:red;
   font-family:'Times New Roman', Times, serif;
}
 #Login
 {
    width: 50px;
    height: 37px;
    border: 1px solid rgb(99, 27, 99);
    background-color: rgb(249, 199, 249);
    margin:40px ;
    margin-left: 50px;
    padding: 10px;
    border-radius: 15px;

 }
/*SignUp Page*/
 .div2{
    
    font-size:17px ;
    width: 450px;
    height: 350px;
    border: 8px solid plum;
    margin: auto;
    margin-left: 400px;

    padding: 50px;
    padding-left: 200px;
   /* padding-left: 55px;*/
    border-radius: 20px;
}

 #register
 {
    width: 68px;
    height: 37px;
    border: 1px solid rgb(99, 27, 99);
    background-color: rgb(249, 199, 249);
    margin:40px ;
    margin-left: 50px;
    padding: 10px;
    border-radius: 15px;
 }

 /*ForgotPassEmail Page*/
 .div3{
    
    font-size:17px ;
    width: 450px;
    height: 250px;
    border: 8px solid plum;
    margin: auto;
    margin-left: 450px;

    padding: 50px;
    padding-left: 100px;
    padding-left: 55px;
    border-radius: 20px;
}

#sendOTP
{
   width: 80px;
   height: 37px;
   border: 1px solid rgb(99, 27, 99);
   background-color: rgb(249, 199, 249);
   margin:40px ;
   margin-left: 50px;
   padding: 10px;
   border-radius: 15px;
}


#OTPmatch
{
  width: 80px;
  height: 37px;
  border: 1px solid rgb(99, 27, 99);
  background-color: rgb(249, 199, 249);
  margin:40px ;
  margin-left: 50px;
  padding: 10px;
  border-radius: 15px;

}


#changepassForgot
{
  width: 80px;
  height: 37px;
  border: 1px solid rgb(99, 27, 99);
  background-color: rgb(249, 199, 249);
  margin:40px ;
  margin-left: 50px;
  padding: 10px;
  border-radius: 15px;
}

#updateProf
{
   width: 80px;
   height: 37px;
   border: 1px solid rgb(99, 27, 99);
   background-color: rgb(249, 199, 249);
   margin:40px ;
   margin-left: 50px;
   padding: 10px;
   border-radius: 15px;

}

.headOfDashboard{
   display:inline-block;
   margin: auto;
   list-style-type: none;
   width:1520px;
   height: 37px;
   border: 1px solid rgb(99, 27, 99);
   background-color: rgb(249, 199, 249);
  /* margin:40px ;
   margin-left: 50px;
   padding: 10px;
   border-radius: 15px;*/
}

.dashboardbuttons
{
   width: 200px;
   height: max-content;
   background-color: pink;
}

